
.button {
    -fx-background-color: #EDA83B;
    -fx-background-radius:0em ;
}
.button:hover{
    -fx-background-color: #f7d6a1;
}
.button:pressed{
    -fx-background-color: #f7d6a1;
}
.button:focused{
    -fx-background-color: #EDA83B;
    -fx-border-color: #EDA83B;
    -fx-border-width: 0px 0px 0px 3px;
}